.global-div-footer{
  margin: auto;
  justify-content: space-between;
  background-color: #343434;
  color: white;
  
}
.global-div-informationFooter{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 80%;
  margin: auto;
}
.global-div-footer{
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.coordonnes-adresse{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.informationTitle{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.instagram{
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-right: 10px;
}

.instagramText{
  display: flex;
  align-items: center;
}

.information{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 330;
}

.global-div-footer-mentions{
  margin: auto;
  justify-content: space-between;
  background-color: #2C2C2C;
  color: white;
}

.mention{
  margin: 0px;
  padding: 25px;
  text-align: center;
  font-size: small;
  font-weight: 330;
}