.bannerDiv{
  min-height: 550px;
  height: 100%;
}

.banner{
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: -150px;
  min-height: 550px;
}


.bannerTitle{
  float: center;
}

.test1{
  z-index:1
}

.test2{
  
  color: black;
  position: absolute;
  text-align: center;
  margin-top: 15%;
  width: 100%;
  z-index: 2;
  font-size: 300%;
}

.bannerText{
    width: 40%;
    text-align: center;
    background-color: #00000061;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.bannerLogo{
  width: 25%;
  text-align: center;
  background-color: #00000061;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
}

@media screen and (min-width: 200px) and (max-width:600px) {
  .test2{
    font-size: 200%;
    margin-top: 50%;
  }
}