.global-div-header{
  margin: auto;
}


.Barre-navigation{
  width: 100%;
  height: 70px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: white;
  position: fixed;
  z-index: 3;
}

.Barre-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.logo{
  height: 40px;
  object-fit: cover;
  padding: 15px;
  padding-left: 20px;
}

.headerNav-li{
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 24px;
  color:rgb(0, 0, 0);
}
.headerNav-li:hover{
  cursor:pointer;
}
.menu-link {
  display: flex;
  outline: none;
  text-decoration: none;
}

.menu-link:visited {
  color: white;
}


/*Responsive*/
@media screen and (max-width: 1240px) {
	.App-header{
    margin: 0px;
  }
}

@media screen and (max-width: 830px) {
  .App-header {
    font-size: calc(5px + 2vmin);
  }

  .Barre-navigation {
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }
  .Barre-text{
    background-color: white;
    margin-top: auto;
    padding-bottom: 10px;
  }

  .headerNav-li {
    font-size: 14px;
}

}



